@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin onlyMobile($displayType: block) {
  display: $displayType;
  @content;

  @include desktop() {
    display: none;
  }
}

@mixin onlyDesktop($displayType: block) {
  display: none;

  @include desktop {
    display: $displayType;
    @content;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}